body{
    margin: 0px;
    padding: 0px;
    height: 105vh;
}
.title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.form{
    margin-left: 450px;
    background-color: rgb(41, 7, 101);
    width: 450px;
    padding: 20px;
    color: white;
    height: fit-content;
    border-radius: 30px;
}
#submitbtn{
    margin-left: 150px;
    a{
        color: white;
        text-decoration: none;
    }
}





@media (max-width:600px){
    .form{
        margin-left: 40px;
        width: 400px;
    }
    #submitbtn{
        margin-left: 130px;
    }
}


@media (min-width:600px){
    .form{
        margin-left: 40px;
        width: 400px;
    }
    #submitbtn{
        margin-left: 130px;
    }
}

@media (min-width:768px){
    .form{
        margin-left: 170px;
        width: 400px;
    }
    #submitbtn{
        margin-left: 130px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}


@media (min-width:992px){
    .form{
        margin-left: 150px;
        width: 600px;
    }
    #submitbtn{
        margin-left: 230px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}

@media (min-width:1200px){
    .title{
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .form{
        margin-left: 450px;
        background-color: rgb(41, 7, 101);
        width: 450px;
        padding: 20px;
        color: white;
        height: fit-content;
        border-radius: 30px;
    }
    #submitbtn{
        margin-left: 150px;
        a{
            color: white;
            text-decoration: none;
        }
    }
}